* {
  margin: 0;
  padding: 0;
}

/* NAV START */

body {
  background: #F5F5F5;
}

header {
  height: 95px;
  width: auto;
  border-bottom: black solid 2px;
}

a {
  text-decoration: none;
}

h1.logo {
  color: #0E153A;
  font-family: "Poppins";
  font-weight: 700;
  font-style: italic;
  font-size: 2.7rem;
  letter-spacing: 0.3rem;
  text-align: center;
  line-height: 100px;
  height: 100px;
}

img.arrow {
  display: none;
}

ul {
  display: none;
  padding: 0;
  margin: 0;
  height: 285px;
}

li {
 text-align: center;
 border-bottom: black solid 2px;
 height: 95px;
 position: relative;
 background: #F5F5F5;
 line-height: 100px;
}

li > a.navlinks{
  list-style: none;
  color: black;
  font-family: "Poppins";
  font-weight: 400;
  letter-spacing: 0.15rem;
  font-size: 20px;
}

img.arrow {
  transform: rotate(90deg);
  display: inline-block;
  position: relative;
  height: 50px;
  width: 50px;
  left: 80%;
  bottom: 80px;
}

img.arrow:hover {
  cursor: pointer;
}

img.arrow::after {
  transform: rotate(180deg);
}

/* NAV END */

/* MAIN START*/

main.grid_container {
  display: grid;
  grid-template-areas: "article"
  "photo";
}

h1.title {
  color: #1A2221;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 2.7rem;
  text-align: center;
  line-height: 90px;
  padding-top: 2%;
  padding-bottom: 3%;
}

img#foto {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

p#caption {
  font-family: "Poppins";
  font-weight: 200;
  color: #40514E;
  text-align: right;
  width: 95%;
}

p#art1 {
  font-family: "Poppins";
  font-weight: 300;
  color: #40514E;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-top: 2%;
}

p#art2 {
  font-family: "Poppins";
  font-weight: 300;
  color: #40514E;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-top: 5%;
  padding-bottom: 10%;
}

/* MAIN END */

/*FOOTER START*/

footer {
  background: #1A2221;
  width: auto;
}

p.footertxt {
  color: #F8FFFD;
  font-family: "Poppins";
  font-weight: 700;
  text-align: center;
  line-height: 700%;
}

a.footerlink {
  color: #F8FFFD;
}

/*FOOTER END*/

/* DESKTOP START */
 @media screen and (min-width: 768px) {

  header {
    display: flex;
    justify-content: space-between;
    border-bottom:black solid 3px;
    padding: 0 1% 0 6%;
  }

   h1.logo {
     text-align: left;
   }

   img.arrow {
     display: none;
   }

   ul {
     display: inline;
   }

   ul > li {
     display: inline-block;
     padding: 0 20px;
     line-height: 100px;
   }

   li > a.navlinks {
     display: inline;
   }

   h1.title {
     text-align: left;
     padding-left: 6%;
     padding-bottom: 0;
   }

   main.grid_container {
    display: grid;
    grid-template-columns: 40% 50%;
    grid-template-rows: 50% 50% ;
  }

  .article#art1 {
    padding-left: 15%;
    padding-bottom: 2%;
    grid-column: 1;
    grid-row: 1;
  }
  
  .article#art2 {
    padding-left: 15%;
    padding-top: 1%; 
    grid-column: 1;
    grid-row: 2;
  }

  .photo {
    padding-top: 2%;
    grid-column: 2;
    grid-row: 1;
    padding-left: 25%;
  }

  .photo#caption {
    padding-left: 20%;
    padding-top: 62%;
 }
}

/* DESKTOP END */